.cop-label-main{
    display: block;
    margin: 2px;
    padding-left: 2px;
    max-width: 81mm;
    max-height: 61mm;
    overflow: hidden;
    border: 1px red solid;
    font-size: 6px !important;
}

.cop-label-table {
    background-color: #e9e9e9;
    border-radius: 10px;
    display: block;
    width: 80mm !important;
    height: 60mm !important;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    overflow: hidden;
}

.cop-label-table-tr {
    border-bottom: 1px black solid;
}

.cop-label-copno {
    width: 60mm;
    font-size: 1.8rem;
    font-weight: bold;
}

.cop-label-type-text {
    font-size: 1.9rem;
    width: 20mm !important;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    font-weight: bolder;
}

.cop-label-model-text {
    width: 55mm;
    font-size: 1.7rem;
}

.cop-label-line-text {
    width: 55mm;
    font-size: 1.7rem;
}

.cop-label-td-qr {
    width: 50mm !important;
    max-width: 50mm !important;
}

.cop-label-qrcode {
    vertical-align: middle;
    text-align: center;
    margin-top: 3px;
}

.cop-label-position-symbo {
    height: 8mm !important;
    width: 8mm !important;
    border-radius: 25px;
    border: 1px black solid;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 5mm;
}
.cop-label-position-text {
    font-size: 1rem;
}
.cop-label-tr1-part {
    font-size: 1rem;
    border-top: 1px black solid;
}
.cop-label-tr-part {
    font-size: 1rem;
}
.cop-label-td-lotno {
    width: 15mm;
    text-align:center;
    vertical-align:middle;
}
.cop-label-td-pipe {
    font-weight: bold;
    width: 2mm;
}
.cop-label-td-part-type {
    font-weight: bold;
}