<link href="~/Content/js-cop-label.css" rel="stylesheet" />
<script src="~/Scripts/cop-label/js-cop-label.js"></script>

 
<p>TEST Label</p>
<p>TEST Label</p>
    <input type="text" value="" class="testInput"/>
    <input type="button" value="Print Label SB" class="btn btn-print-sb btn-primary" />
    <input type="button" value="Print Label BKL" class="btn btn-print-bkl btn-primary" />
    <input type="button" value="Print Both" class="btn btn-print btn-primary" />
    <script>
        var copnoa = $('.COPNO-TEXT-SB').text().trim();
        var copnob = $('.COPNO-TEXT-BKL').text().trim();

        function updateQr() {
            console.log(copnoa);
            console.log(copnob);
            $('.qr-code-dsp').html("");
            $('.qr-code-dsp').qrcode({ width: 100, height: 100, text: copnoa });
            $('.qr-code-dsp-bkl').qrcode({ width: 100, height: 100, text: copnob });
        }
        updateQr();
        $().click(function () {
            var urlText = "@Url.Action("PRINT_QER","MICS")";
            var options = { "backdrop": "static", keyboard: true };
            var jdata = { "copnoa": copnoa, "copnob": copnob}
            //console.log(jdata);
            //console.log(".---.");
            $.ajax({
                type: "POST",
                url: urlText,     //your action
                //data: $('form').serialize(),   //your form name.it takes all the values of model
                //dataType: 'json',
                data: jdata,
                success: function (result) {
                    console.log(result);
                    //alert(result);
                    //updateInfo(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error:" + errorThrown);
                }
            });
            return false;
        });
        var tt1 = $('.btn-print').COPR16newLabel({
            nameObjectLabel: "SB",
            copnoText: "2001579-02-00",
            modelText: "2GM",
            lineText: "R200RRS",
            posSymbo: "S4",
            posText: "Rear 2nd LR",
            sbLotText: "A123",
            sbPartText: "A12345678",
            bkl1LotText: "B123",
            bkl2LotText: "C123",
            bkl1PartText: "B12345678",
            bkl2PartText: "C12345678",

        });
        var tt2 = $('.btn-print-bkl').COPR16newLabel({ nameObjectLabel: "BKL", copnoText: "2001579-02-00"  });
        $('.btn-print-bkl').click(function () {
            tt2.createLabel(this);
            console.log(tt2.settings);
        });
        $('.btn-print').click(function () {
            //alert('ok');
            /*
            var objectLabel = genLabel('SB01');
            objectLabel.insertBefore(this);
            setLabel();
            */
            tt1.createLabel(this);

            console.log(tt1.settings);



        });
        $('.testInput').keyup(function (element) {
            console.log($('.testInput'));
            console.log($(element));
            var textValue = $('.testInput').val();
            tt1.setCopno(textValue);
            tt1.setModelText(textValue);
            tt1.setLineText(textValue);
        });
    </script>

