<link href="~/Content/js-cop-label.css" rel="stylesheet" />
<script src="~/Scripts/cop-label/js-cop-label.js"></script>

    <div class="cop-label-main">
            <table class="cop-label-table" border="0">
                <tr class="cop-label-table-tr">
                    <td colspan="5"  class="cop-label-copno COPNO-TEXT-SB">
                        2001579-02-00A
                    </td>
                    <td class="cop-label-type-text">SB</td>

                </tr>
                <tr>
                    <td colspan="4" class="cop-label-model-text MODEL-TEXT">
                        2GM
                    </td>
                    <td rowspan="3" colspan="2" class="cop-label-td-qr">
                        <DIV class="cop-label-qrcode qr-code-dsp" id="qr-code-dsp" name="qr-code-dsp" ></DIV>
                    </td>

                </tr>
                <tr>
                    <td colspan="4" class="cop-label-line-text LINE-TEXT">
                        R200RRS
                    </td>
                </tr>
                <tr >
                    <td align="center" valign="middle">
                        <labeL class="cop-label-position-symbo POS-TEXT" >S4 </labeL>
                    </td>
                    <td colspan="3" class="cop-label-position-text POS-TEXT-EXT">Rear 2nd LH</td>

                </tr>
                <tr class="cop-label-tr1-part">
                    <td class="cop-label-td-lotno SBLOT">1234</td>
                    <td class="cop-label-td-pipe">|</td>
                    <td class="cop-label-td-part-type">SB:</td>
                    <td colspan="3" class="SB-PARTNO">123456789</td>
                </tr>
                <tr class="cop-label-tr-part">
                    <td class="cop-label-td-lotno BKL1LOT">1234</td>
                    <td class="cop-label-td-pipe">|</td>
                    <td class="cop-label-td-part-type">BKL1:</td>
                    <td colspan="3" class="BKL1-PARTNO">123456789</td>
                </tr>
                <tr class="cop-label-tr-part">
                    <td class="cop-label-td-lotno BKL2LOT">1234</td>
                    <td class="cop-label-td-pipe">|</td>
                    <td class="cop-label-td-part-type">BKL2:</td>
                    <td colspan="3" class="BKL2-PARTNO">123456789</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>

            </table>
    </div>
    <div>
        <div style="display:block ;margin:2px;padding-left:2px; max-width:81mm;overflow:hidden;">
            <center>
                <table style="
        background-color: #e9e9e9;
        border-radius: 10px;
        display: block;
        width: 80mm !important;
        height: 60mm !important;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        overflow: hidden;" border="0">
                    <tr style="border-bottom:1px black solid;">
                        <td colspan="5" style="width:60mm;font-size:1.8rem;font-weight:bold" class="COPNO-TEXT-BKL">
                            2001579-02-00B
                        </td>
                        <td style="font-size: 1.9rem;width:20mm !important; text-align: center; vertical-align: middle; background-color: black; color: white; font-weight: bolder;">BKL</td>

                    </tr>
                    <tr>
                        <td colspan="4" style="width:55mm;font-size:1.7rem;">
                            2GM
                        </td>
                        <td rowspan="3" colspan="2" style="width: 50mm !important;">
                            <DIV class="qr-code-dsp-bkl" id="qr-code-dsp-bkl" name="qr-code-dsp-bkl" style="vertical-align:middle;text-align:center;margin-top:3px;"></DIV>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4" style="width:55mm;font-size:1.7rem;">
                            R200RRS
                        </td>
                    </tr>
                    <tr style="height:2.5rem;">
                        <td align="center" valign="middle">
                            <labeL style="height:8mm !important;width:8mm !important;border-radius:25px;border:1px black solid;text-align:center;vertical-align:middle;margin:0;padding:0;font-size:5mm;">S4 </labeL>
                        </td>
                        <td colspan="3" style="font-size:1rem">Rear 2nd LH</td>

                    </tr>
                    <tr style="font-size:1rem;border-top:1px black solid;">
                        <td align="center" valign="middle" style="width:15mm;">1234</td>
                        <td style="font-weight:bold;width:2mm;">|</td>
                        <td style="font-weight:bold;width:15mm;">SB:</td>
                        <td colspan="3">123456789</td>
                    </tr>
                    <tr style="font-size:1rem">
                        <td align="center" valign="middle">1234</td>
                        <td style="font-weight:bold">|</td>
                        <td style="font-weight:bold">BKL1:</td>
                        <td colspan="3">123456789</td>
                    </tr>
                    <tr style="font-size:1rem">
                        <td align="center" valign="middle">1234</td>
                        <td style="font-weight:bold">|</td>
                        <td style="font-weight:bold">BKL2:</td>
                        <td colspan="3">123456789</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>

                </table>
            </center>
        </div>

    </div>

    <input type="button" value="Print Label SB" class="btn btn-print-sb btn-primary" />
    <input type="button" value="Print Label BKL" class="btn btn-print-bkl btn-primary" />
    <input type="button" value="Print Both" class="btn btn-print btn-primary" />
    <script>
        var copnoa = $('.COPNO-TEXT-SB').text().trim();
        var copnob = $('.COPNO-TEXT-BKL').text().trim();

        function updateQr() {
            console.log(copnoa);
            console.log(copnob);
            $('.qr-code-dsp').html("");
            $('.qr-code-dsp').qrcode({ width: 100, height: 100, text: copnoa });
            $('.qr-code-dsp-bkl').qrcode({ width: 100, height: 100, text: copnob });
        }
        updateQr();
        $().click(function () {
            var urlText = "@Url.Action("PRINT_QER","MICS")";
            var options = { "backdrop": "static", keyboard: true };
            var jdata = { "copnoa": copnoa, "copnob": copnob}
            //console.log(jdata);
            //console.log(".---.");
            $.ajax({
                type: "POST",
                url: urlText,     //your action
                //data: $('form').serialize(),   //your form name.it takes all the values of model
                //dataType: 'json',
                data: jdata,
                success: function (result) {
                    console.log(result);
                    //alert(result);
                    //updateInfo(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error:" + errorThrown);
                }
            });
            return false;
        });
        $('.btn-print').click(function () {
            alert('ok');
            var objectLabel = genLabel('SB01');
            objectLabel.insertBefore(this);
            setLabel();
        });
    </script>
