@*@model CM_APPLICATIONS.COPR16_WORKFLOW*@
@model CM_APPLICATIONS.COPR16_RETURNTYPE_MSTR
@{
    ViewBag.Title = "SaveJson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>SaveJson @Html.DisplayFor(m => m.DESC)
    </h2>

